.mobile-nav-overlay {
	opacity: 0;
	z-index: 99;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	transition: all 0.4s ease-in;
}

.mobile-nav-overlay--open {
	opacity: 1;
	pointer-events: all;
}

.mobile-nav {
	z-index: 100;
	position: fixed;
	top: 0;
	right: 0;
	transform: translate(100%, 0%);

	height: 100vh;
	width: 440px;
	padding: 80px 60px 40px;
	background: #000000;

	transition: transform 0.4s ease-in;

	@media (max-width: 767px) {
		width: 320px;
		padding: 40px 30px 0;
	}

	@media (max-width: 280px) {
		width: 100%;
	}
}

.mobile-nav--open {
	transform: translate(0%, 0%);
}

.mobile-nav__btn {
	position: absolute;
	top: 35px;
	right: 50px;
	width: 48px;
	height: 48px;

	@media (max-width: 767px) {
		top: 30px;
		right: 20px;
		width: 42px;
		height: 42px;
	}
}

.mobile-nav__list {
	font-size: 22px;
	@media (max-width: 767px) {
		font-size: 18px;
	}

	li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}

	a {
		display: block;
		padding: 30px 0;
		transition: all 0.2s ease-in;

		@media (max-width: 767px) {
			padding: 15px 0;
		}

		&:hover {
			padding-left: 20px;
		}
	}
}
